
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 
}
body{
    min-height: 100vh;
    overscroll-behavior: none;
  
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    transition: 0.2s ease-in;
}
ul li a:hover{
  color: #0c0606;
}



/*Services*/
.best-known div{
  transition: 0.5s ease-in;
}
.best-known div:hover{
scale: 1.02;
}
/*Index*/
.number-1 div{
  transition: 0.3s ease-in;
}
.number-1 div:hover{
scale: 1.02;
}
.services-box div{
  transition: 0.4s ease-in;
}
.services-box div:hover{
  scale: 1.02;
}

.news div{
  transition: 0.3s ease-in;
  
}
.news div:hover{
  scale: 1.02;
  background-color: #a6a6a689;
}
/* video */


.menu__link{
  display: flex !important;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}
.menu__link.active{
  color: #0c0606;
}
.menu__link.active::before{
  content: '';
  width: 0%;
  height: 3px;
  background-color: #0c0606;
  bottom: -5px;
  position: absolute;
  left: 50%; /* Set left position to 50% */
  transform: translateX(-50%);

  
}
.menu__link.active::before{
  width: 100%;

}


.social-media li a:hover{

  box-shadow:0 0 2rem #5dc3fa;
}


.dropdown-content{
  display: none;
  width: 200px;
  height: 80px;
  background-color: #fff;
  z-index: 999;
  border-radius: 5px;
  padding: 0px 20px;
  top: 25px;

}

.img1{
    animation: fadeIn 4s ease-in-out infinite;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 15px 15px;
}
.swiper-pagination{
text-align: right !important;
}
.swiper-pagination-bullet{
  padding: 5px 15px !important;

  border-radius: 2.5rem !important;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
transition: 0.8s ease-in;
 
}
.second-swiper img{
width: 20px;
height: 20px;
object-fit: cover;
object-position: center;

}
.sticky{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
animation: fade 0.8s;
}
@keyframes fade {
  0%{transform: translateY(-100%);}
  100%{transform: translateY(0%);}
}

/*Tablet Animation*/
.tablet{
  animation: fadeIn 4s ease-in-out infinite;
}
@keyframes fadeIn {
  0%{
    transform: translateY(0);
} 
50%{
 transform: translateY(-2.4rem);
}
100%{
  transform: translateY(0);
}
  
}

/*particle js start*/
/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #0a4ea1;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}
/* 
#stats,
.count-particles{
 -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
} */

/* .count-particles{
  border-radius: 0 0 3px 3px;
} */


/* ---- particles.js container ---- */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
   text-align: center;
  color: #fff;
  font-size: 24px;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
#particles-js{
  width: 100%;
  height: 100vh;

  background-color:rgb(10, 7, 7);
  background-image: url('');
  background-size: cover;
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  
  position: relative;
  
}
/*particle js end*/

@keyframes fadeIn {
    0%{
        transform: translateY(0);
   } 
   50%{
     transform: translateY(-1.8rem);
   }
   100%{
      transform: translateY(0);
   }
    
}


.jarallax {
  height: 100vh;
}


/*Contact Form*/

.contact form{
 
width: 60%;
  margin: 1rem auto;
   text-align: center;
  margin-bottom: 3rem;
 
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #2937a0;
 
  border-radius: .8rem;
  margin: .7rem 0;
}
.contact form .input-box input:focus,.contact form textarea:focus{
  background-color: #fff;
border: 2px solid #2937a0;
outline: none;
color: gray;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  background-color: #2937a0;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer
}
.main-menu li{
  position: relative;
}


.main-menu li a::before{
  content: '';
  width: 0%;
  height: 3px;
  background: #060607;
  transition: 0.3s ease-in;
  bottom: -5px;
  position: absolute;
  left: 50%; /* Set left position to 50% */
  transform: translateX(-50%)
}
.main-menu li a:hover::before{

width: 100%;
}

.main-menu :nth-child(4) a:hover::before{
  width: 0%;
}

.sidebar{
  animation: side 0.4s ease-in;
}
@keyframes side {
  0%{transform: translateX(-500%);}
  100%{transform: translateX(0%);}
  
}




  /* .parallax { */
    /* The image used */
    /* background-image: url("https://img.freepik.com/free-photo/person-playing-3d-video-games-device_23-2151005751.jpg?t=st=1710834545~exp=1710838145~hmac=f000efe42757b6798fb40c344b741121d614e2706e802a0de7262ffd0e6ee9a1&w=996"); */
  
    /* Full height */
    /* height: 100%; */
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */

/*     
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: -1; */
    /* transition: 0.5s ease-out; */
  /* } */


 /* @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */


@media (max-width: 768px){
  /* .jarallax {
    height: 150vh;
  } */
  .contact form{
 
    width: 100%;
      margin: 1rem auto;
       text-align: center;
      margin-bottom: 3rem;
     
    }



  .dropdown-content{
    display: none;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
   padding: 10px 20px;
 
  }


  .tablet{
    animation: fadeIn 4s ease-in-out;
    box-shadow: none;
 

  }
  @keyframes fadeIn {
    0%{
      transform: rotate(180deg);
  } 

    
  }  

  #particles-js{
    height: 120dvh;
  }
}
@media (max-width: 568px){
  .swiper-slide img{
    width: 100%;
   
    padding: 15px 0px;
  } 
  .swiper-pagination-bullet{
    padding: 3px 5px !important;
  
  }
  .swiper-pagination{
    text-align: center !important;
    }
}

.active{
  display: block !important;
}



@media (max-width: 1024px) {
  .dropdown-content {
    display: none;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .dropdown-content.above-about {
    z-index: 1001; /* Higher z-index for the About Us dropdown */
    position: relative; /* Position relative to parent */
    margin-top: 20px; /* Add margin to push it down */
  }
}


